# Enter your Google API key here
api_key=""
# If you do not provide your own cookie here, default cookie will be used
# But chances are that it won't be useable anymore for that day.
# Here are some other cookies you can use:
# 'auth=citi_test2%3A370441097%3A1394015659%3AuboUEm2EVrutDfl8j22iuw'
# 'auth=citi_test%3A475598024%3A1394104777%3A%2BXw0IDx6G%2FvLle0F2LVa3A'
cookie=""
interface="wlan0";
# You must have package tor installed.
use_tor=1;
# Precision of the Twitter monitoring (the bigger this number, the wider the
# area of monitored tweets will be, and thus the number of false positives)
# For isntance, 0.0005 is a few dozens meters
precision=0.0005;
# Precision of the Wigle search
# The lower the number, the lower the range of fetched APs
# In other words : the lower the number, the fewer APs you will get, but the
# more precise your attack will be.
# If nothing is provided, defaults to 0.002.
precision_wigle="";
