# Enter your Google API key here
api_key=""
# If you do not provide your own cookie here, default cookie will be used
# But chances are that it won't be useable anymore for that day.
# Here are some other cookies you can use:
# 'auth=citi_test2%3A370441097%3A1394015659%3AuboUEm2EVrutDfl8j22iuw'
# 'auth=citi_test%3A475598024%3A1394104777%3A%2BXw0IDx6G%2FvLle0F2LVa3A'
cookie=""
interface="wlan0";
# You must have package tor installed.
use_tor=1;
# Use filter_ap_list script or not. This script checks whether each AP
# is known by the Google API, in order to improve the precision as
# well as the chance of success of the attack. To do so, it sends one
# query per access point. Therefore, this will send around 100 queries
# per attack, which will make it slower and may have your IP banned
# from the API. Also, note that it will probably not work if you use
# Tor.
check_AP=0;
# Precision of the Twitter monitoring (the bigger this number, the wider the
# area of monitored tweets will be, and thus the number of false positives)
# For isntance, 0.0005 is a few dozens meters
precision=0.0005;
# Precision of the Wigle search
# The lower the number, the lower the range of fetched APs
# In other words : the lower the number, the fewer APs you will get, but the
# more precise your attack will be.
# If nothing is provided, defaults to 0.002.
precision_wigle="";
# Whether to use aircrack or mdk3 (default: aircrack)
# Enter "" or anything else for aircrack, "mdk3" for mdk3
# PLEASE NOTE that you can't target a single device with mdk3, unless you
# compile it with a hardcoded mac address (on mdk3.c:1980 : replace
# \xff\xff\xff\xff\xff\xff by the target MAC)
use=""
